asgiref==3.11.1
Django==5.2.12
django-cors-headers==4.9.0
django-filter==25.2
django-jazzmin==3.0.3
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
packaging==26.0
PyJWT==2.11.0
sqlparse==0.5.5
tzdata==2025.3
python-dotenv==1.0.1
PyMySQL==1.1.0
cryptography>=42.0.0
weasyprint>=62.3
gunicorn==23.0.0
whitenoise==6.9.0
